extends ../layout

block body
    .container
        .row
            .col-xs-8
                h1 ÚltimosLibros
            .col-xs-4.text-right
                a(href='/book/new' class='btn btn-info') Agregar Libro
        .row
            each book in books
                .col-xs-12.col-sm-6.col-md-2.card
                    h3
                        a(href="/book/#{book.id}")= book.title
                    p= book.description
                    if user && user.admin
                        .actions
                            a(href="/book/#{book.id}/edit" style="margin-right: 1em") Editar
                            a(href="/book/#{book.id}/delete" class="text-danger") Eliminar
